* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 100px auto;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  width: 740px;
  height: 400px;
}

.box {
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 25px 0 0 25px;
}

.box2 {
  display: flex;
  position: relative;
  background-image: url("/img/doctor.jpg");
  background-repeat: no-repeat;
  width: 50%;
  border-radius: 0 25px 25px 0;
}

.logo {
  margin-left: 15%;
  margin-top: 10%;
  block-size: 80%;


}

h1 {
  margin-top: 15%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #1465AF;
}

input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #1465af;
  padding: 12px 15px;
  margin: 8px 0;
}

input:focus {
  outline: none !important;
  border: 1px solid blue;
  box-shadow: 0 0 10px #719ece;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  padding: 0 30px;
}

input.checkbox {
  width: auto;
  margin-left: 15px;
}

label.checkbox-label {
  width: fit-content;

}

button {
  border-radius: 20px;
  border: 1px solid #1465af;
  background-color: #1465af;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 100%;
  margin-top: 8px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

p {
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding-left: 10px;
}

a {
  color: #1B47E2;
  font-size: 18px;
  text-decoration: none;

}


@media only screen and (max-width: 820px) {
  .container {
    width: 520px;
    height: 280px;
  }

  h1 {
    font-size: 22px;
  }

  a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
    line-height: 20px;
  }

  input {
    padding: 6px 15px;
    margin: 4px 0;
    font-size: 12px;
  }

  input.checkbox {
    width: 10px;
    height: 10px;
    margin-left: 4px;
  }

  label {
    font-size: 12px;
  }

  button {
    font-size: 8px;
    padding: 8px 16px;
    margin-top: 8px;
  }

  .box2 {
    background-size: 100%;
    width: 50%;
    border-radius: 0 25px 25px 0;
  }

  .logo {
    margin-left: 40px;
    margin-top: 12%;
    block-size: 80%;
  }
}


@media only screen and (max-width: 540px) {
  .container {
    width: 320px;
    height: 220px;
  }

  h1 {
    font-size: 18px;
  }

  a {
    font-size: 10px;
  }

  p {
    font-size: 10px;
    margin: 0;
    margin-top: 5px;
    line-height: 10px;
  }

  input {
    padding: 6px 15px;
    margin: 4px 0;
    font-size: 10px;
  }

  input.checkbox {
    width: 10px;
    height: 10px;
    margin-left: 2px;
  }

  label {
    font-size: 10px;
  }

  button {
    font-size: 8px;
    padding: 8px 16px;
    margin-top: 8px;
  }

  .box2 {
    background-size: 130%;
    width: 50%;
    border-radius: 0 25px 25px 0;
  }

  .logo {
    margin-left: 10px;
    margin-top: 15%;
    block-size: 80%;
  }
}

.oauth-buttons img {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 5px; /* Optional: Add margin to space out the logos */
}
